{% extends "index.html" %}

{% block head %}
<style>
  #posts{
    margin-top: 20px;
    display: flex;
    z-index: 34;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  /* Style for the comments section */
  .comments-section {
    display: inline-grid;
    width: 50%;
    margin-top: 20px;
  }
  .comments-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .comments-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .comments-section li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .comments-section li span {
    color: #364fc7;
    font-weight: bold;
  }
  .comments-section li form {
    display: inline;
    margin-left: 10px;
  }
  .comments-section li form button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .comments-section li form button:hover {
    background-color: #c82333;
  }

  /* Style for the delete button */
  .delete-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .delete-button:hover {
    background-color: #c82333;
  }
</style>
{% endblock head %}


{% block header %}
    {% if user.is_authenticated %}
    <div style="
    display: inline-flex;
    ">
    <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock header %}


{% block container %}

    {% if user.is_authenticated %}
    <h1>User Profile</h1>
    <p>Name: {{ user_data.name }}</p>
    <p>Email: {{ user_data.email }}</p>
    <p>Phone Number: {{ user_data.phone_number }}</p>
    {% endif %}

{% endblock container %}

{% block body %}
<div style="text-align:center;">
    <h2>Posts</h2>
    <div id="posts">
        {% for post in posts %}
          <div class='block'>
            <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
            <p><i>status: {{ post.status}}</i></p>
          </div>
        {% endfor %}
    </div>

    <!-- Comments section -->
    <div class="comments-section">
      <h2>Comments</h2>
      <ul>
        {% for comment in comments %}
          <li>
            {{ comment.text }} - by <span>{{ comment.user.name }}</span> on {{ comment.created_at }}
            {% if comment.user == user or post.author == user %}
              <form action="{% url 'delete_comment' comment.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="delete-button">Delete</button>
              </form>
            {% endif %}
          </li>
        {% empty %}
          <li>No comments yet.</li>
        {% endfor %}
      </ul>
    </div>
</div>
{% endblock body %}


